version: "3"
services:
  moviepark-traefik:
    image:
      traefik:v2.2
    container_name: moviepark-traefik
    restart: always
    command:
      - "--log.level=ERROR"
      - "--api.dashboard=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.network=moviepark-network"
      - "--entrypoints.web.address=:80"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.api.rule=Host(`dashboard.localhost`)"
      - "traefik.http.routers.api.service=api@internal"
      - "traefik.http.routers.api.middlewares=auth"
      #Hashed password => 'password'
      - "traefik.http.middlewares.auth.basicauth.users=lazar:$$2y$$10$$ciI3Y86xGCi9wyiCYLuHNuttnHs9HmWOWTXmeesFlVHt0JASoYGwC"
    ports:
      - 80:80
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - moviepark-network
  moviepark-client:
    image: moviepark-client:1.0
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: moviepark-client
    environment:
      - BASE_URL=http://0.0.0.0:3000
      - API_URL=
      - API_BROWSER_URL=
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.moviepark-client.rule=Host(`localhost`)"
      - "traefik.http.routers.moviepark-client.entrypoints=web"
    restart: always
    depends_on:
      - moviepark-traefik
      - moviepark-server
    networks:
      - moviepark-network
  moviepark-server:
    image: moviepark-server:1.1
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: moviepark-server
    environment:
      - PORT=3333
      - HOST=0.0.0.0
      - NODE_ENV=production
      - APP_NAME=
      - APP_KEY=
      - TMDB_API_KEY=
      - CLIENT_URL=
      - CLIENT_BROWSER_URL=
      - REDIS_CONNECTION=
      - REDIS_HOST=
      - REDIS_PORT=
      - REDIS_PASSWORD=
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.moviepark-server.rule=Host(`api.localhost`)"
      - "traefik.http.routers.moviepark-server.entrypoints=web"
    restart: always
    depends_on:
      - moviepark-traefik
      - moviepark-redis
    networks:
      - moviepark-network
  moviepark-redis:
    image: redis:6-alpine
    container_name: moviepark-redis
    volumes:
      - moviepark-redisData:/data
    restart: always
    networks:
      - moviepark-network
networks:
  moviepark-network:
    driver: bridge
volumes:
  moviepark-redisData: 